.header-top{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    background: #fff;
    z-index: 9999;
}

.header-wrap{
    max-width: 800px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    box-sizing: border-box;
}
.header-wrap .header-homemenu{
    height: 30px;
    font-size: 24px;
}
.header-wrap .header-homemenu img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-userbtn{
    position: relative;
    width: 40px;
    height: 40px;
}
.header-userprofile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-userprofile-btn{
    width: 40px;
    height: 40px;
    border: none;
    background: #fff;
}
.header-userprofile-btn img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-usermenu{
    top: 50%;
    right: 50%;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: -1;
    background: rgba(0,0,0,0.2);
    text-align: right;
    transform: translate(50%, -50%);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: 0.2s ease-in-out;  
}
.header-usermenu.active{
    display: flex;
    z-index: 10000;
    opacity: 1;
}

.header-usermenu .header-usermenu-wrap{
    width: 0%;
    max-width: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #fff;
    box-sizing: border-box;
    padding: 16px;
    position: relative;
    transition-delay: 1s;
    transition: .5s;
}
.header-usermenu.active .header-usermenu-wrap{
    width: calc(100% - 32px);
}


.header-userprofile{
    width: 100%;
    font-size: 18px;
}
.header-usermenu-close{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    background: #fff;
    border: none;
}
.userprofile-login{
    display: grid;
    grid-template-columns: 140px 1fr;
    text-align: left;
    height: 120px;
    margin-top: 48px;
    margin-bottom: 1.5rem;
    position: relative;
}
.userprofile-login .profile{
    width: 120px;
    height: 120px;
    object-fit: cover;
    grid-row: 1/3;
}
.board-submenus{
    display: flex;
    width: 100%;
    height: 100%;
}
.header-board-togo-list.active{
    display: block;
}
.header-board-togo-list{
    display: none;
    width: 100%;
    height: 100%;
}
.header-board-togo-search.active{
    display: block;
}
.header-board-togo-search{
    display: none;
    width: 100%;
    height: 100%;
}
.userprofile-button-wrap{
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 140px);
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.userprofile-button-modify{
    width: 75px;
    line-height: 40px;
    font-size: 12px;
    background: var(--main-color02);
    color: #fff;
    border: none;
    margin-right: 8px;
}
.userprofile-button-logout{
    width: 75px;
    line-height: 40px;
    font-size: 12px;
    background: #fff;
    color: #888;
    border: 1px solid #888;
}
.userprofile-menubtn-wrap ul li {
    display: block;
    margin: 16px 0px;
}
.userprofile-menubtn-wrap ul li button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 48px;
    height: 48px;
    background: #fff;
    border: none;
    box-shadow: 0px 2px 6px rgba(102, 65, 28, 0.08) ;
    gap: 8px;
    font-size: 10px;
}
.userprofile-menubtn-wrap ul li button img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.header-board-togo{
    width: 100%;
    text-align: left;
    margin-left: 16px;
    position: relative;
}
.header-board-btnwrap{
    position: absolute;
    bottom: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header-board-btnwrap button{
    width: 100%;
    height: 40px;
    border: none;
    background: none;
    color: #888;
    font-size: 14px;
}
.header-board-togo ul li{
    display: flex;
    line-height: 24px;
    padding: 12px 0px;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}
.header-btn-unsubscribe{
    width: 60px; height: 28px;
    border: 2px solid var(--main-color02);
    background: transparent;
    cursor: pointer;
    color: var(--main-color02);
    font-size: 0.8em;
    font-weight: 600;
}