* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style-type: none;
}
.pagination{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.page-item button{
  border: none;
  background: transparent;
}
.page-item.active button{
  color: red;
  font-weight: bold;
}