/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }

/* input type number 에서 화살표 제거 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

:root {
  --base-color: #333;
  --main-color01: #f1c232;
  --main-color02: #66411C;
  --main-color03: #fff;
  --main-m-auto: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--base-color);
  text-decoration: none;
  font-family: 'Pretendard';
}
ul, ol, li {
  list-style-type: none;
}

.firstchild-comment{
  margin-left: 20px;
}
.secondchild-comment{
  margin-left: 40px;
}

.main-bottom-wrap{
  position: fixed;
  z-index: 12000;
}
@media screen and (max-width: 799px){
  .main-bottom-wrap{
    bottom: 30px; 
    right: 16px;
  }
}
@media screen and (min-width: 800px) {
  .main-bottom-wrap{
    bottom: 80px;
    right: 50%; 
    transform: translateX(350px);
  }  
}


.main-write-btn{
  display: block;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: var(--main-color02);
}
.main-write-btn img{
  width: 25px;
  height: 25px;
  vertical-align: middle;
  object-fit: contain;
}
.board-like-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 12px;
  border: none;
  background: var(--main-color03);
  border-radius: 10px;
}
.board-bottom-wrap{
  position: fixed;
  display: flex;
  bottom: 80px; left: 50%;
  transform: translateX(350px);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  z-index: 9999;
}
.board-container{
  max-width: 800px;
  margin: var(--main-m-auto);
}
.bottom-like-wrap{
  display: block;
  position: relative;
  width: 13px; height: 13px;
}
.bottom-like_icon{
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 13px; height: 13px;
  object-fit: contain;
  opacity: 0;
  transition: .5s;
  animation: dislike 0.5s ease-in-out;
}
.bottom-like_back{
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 13px; height: 13px;
  object-fit: contain;
}
.bottom-like_icon.active{
  opacity: 1;
  animation: like 0.5s ease-in-out;
}
@keyframes like {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  60% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes dislike {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  40% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}