.board-index{
  width: 100%;
  padding: 0px 16px;
  box-sizing: border-box;
}

.board-thumb{
  width: 100%;
  height: 200px;
  background: #f1c232;
  margin-bottom: 10px;
  object-fit: cover;
}
.board-detail{
  padding: 25px 0px;
}
.board-detail > h2{
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 16px;
}
.board-module-wrap{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0px 16px;
  box-sizing: border-box;
}

.board-module-category{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #f1c232;
}

.board-category-btn > button{
  position: relative;
  width: auto; height: 28px;
  line-height: 14px;
  padding-right: 15px;
  display: inline-block;
  background: transparent;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}
.board-category-btn.active button{
  font-weight: 800;
}
.board-category-btn.active button::after{
  position: absolute;
  bottom: 0; left: 0;
  content:""; display: block;
  width: calc(100% - 15px);
  height: 2px;
  background: var(--main-color02);
}

/* 방문 게시판 서식 */
.board-visitlist-box{
  width: 100%; height: 48px;
  box-sizing: border-box;
  padding: 0px 16px;
  margin: 12px 0px 24px;
  position: relative;
}
.board-visitlist-wrap{
  display: flex;
  justify-content: left;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 16px;
}
.board-visitlist-legend{
  background: var(--main-color02);
  color: #fff;
  line-height: 48px;
  padding: 0px 10px;
  background: var(--main-color02);
  border-radius: 16px 0px 0px 16px;
}
.board-visitlist{
  display: flex;
}
.board-visitlist-item{
  display: inline-block;
  width: auto;
  padding: 0px 8px;
  line-height: 48px;
  font-size: 14px;
}
.board-index-wrap{
  display: flex;
  justify-content: space-between;
}
.board-subscribe{
  padding: 25px 0px;
}
.board-subscribe-btn{
  width: 64px;
  font-size: 14px;
  font-weight: 700;
  background: transparent;
  border-radius: 6px;
  line-height: 28px;
  color: #b4b4b4;
  border: 3px solid #b4b4b4;
  margin-bottom: 14px;
}
.board-subscribe-btn.active{
  color: var(--main-color01);
  border: 3px solid var(--main-color01);
}
.board-subscribe-total{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px 0px;
  text-align: center;
  border-radius: 5px;
  width: 64px;
  border: 3px solid var(--main-color02);
}
.board-subscribe-total span:first-of-type{
  color: var(--main-color02);
  font-size: 14px;
  display: block;
  font-weight: 800;
}
.board-subscribe-total span:last-of-type{
  color: var(--main-color02);
  font-size: 12px;
  display: block;
  font-weight: 500;
}

/* 게시판 구독 서식 */
.board-subscribelist-btn{
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
}
.board-subscribelist-wrap{
  width:calc(100% - 107px);
  box-sizing: border-box;
  padding: 0px 16px;
  margin: 12px 0px 24px;
  position: absolute;
  right: 0; top: -12px;
  z-index: 100;
  text-align: right;
  display: none;
}
.board-subscribe-list{
  background: #fff;
}



/*  */
.board-module-autorefresh{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #f1c232;
}

.board-module-autorefresh button{
  display: block;
  width: 40px; height: 24px;
  border: 2px solid var(--main-color01);
  background: transparent;
  color: var(--main-color01);
  cursor: pointer;
  border-radius: 16px;
}