.listItem{
  display: flex;
  justify-content: space-around;
  text-align: left;

}
.item{
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: left;
}
.item > p,
.listItem > p{
  display: block;
  width: 100%;
  line-height: 40px;
}

.listItem p:last-of-type,
.item p:last-of-type{
  width: 100%;
  text-align: right;
}